*{
    padding: 0;
    margin: 0;
}
.container{
    max-width: 1100px;
    margin: auto;
}
.clearfix::after{
    content: "";
    clear: both;
    display: block;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
}
ul,ol{
    list-style: none;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}
body{
    font-family: 'Open Sans', sans-serif;
}
/* header css start */
.header{
    background-color: #000;
}
.header-left{
    width: 30%;
}
.header-left img {
    width: 90px;
    margin-top: 14px;
}
.header-right{
    width: 70%;
}
.menu{}
.menu ul{
    list-style: none;
    text-align: right;
}
.menu ul li{
    display: inline-block;
}
.menu ul li:nth-child(3) a::before{
    content: "";
    position: absolute;
    left: 20%;
    bottom: 25px;
    height: 3px;
    width: 0;
    background-color: rgb(255, 255, 255);
}
.menu ul li a {
    color: #fff;
    display: inline-block;
    padding: 0px 30px;
    line-height: 80px;
    font-size: 23px;
    position: relative;
}
.menu ul li span{
    font-size: 20px;
}
.menu ul li a::before {
    content: "";
    position: absolute;
    left: 24%;
    bottom: 25px;
    height: 3px;
    width: 0;
    background-color: rgb(255, 255, 255);
}
.menu ul li a:hover::before{
    width: 54%;
}
/*dropdown start */
.menu ul li{
    position: relative;
}
.menu ul li ul{
    position: absolute;
    left: 0;
    top: 105%;
    background-color: #000;
    width: 250px;
    text-align: left;

    opacity: 0;
    visibility: hidden;
    transition: .4s;
}
.menu ul li:hover .dropdown{
    opacity: 1;
    visibility: visible;
}
.menu ul li ul li{
    display: block;
}
.menu ul li .dropdown li a::before {
    content: "";
    position: absolute;
    left: 12%;
    bottom: 14px;
    height: 3px;
    width: 0;
    background-color: #000;
}
.menu ul li ul li a:hover::before{
    width: 27%;
}
.menu ul li ul li a{
    display: block;
    line-height: 55px;
}
.menu ul li ul li a:hover{
    color: #000;
    background-color: #ddd;
}
/* banner css start */
.banner{
    background: url(../img/a0c6042d4612d7adf44692fffac7e082.jpg) no-repeat top center;
    background-size: cover;
    padding: 170px;
}
.inner-con h1{
    color: #223127;
    font-size: 42px;
    font-weight: 800;
}
.inner-con h3{
    color: #000000;
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 23px;
}
.btn1{
    display: inline-block;
    background-color: #000;
    padding: 20px 40px;
    border-radius: 10px;
    margin-right: 10px;
    font-weight: 600;
    color: #fff;
    transition: .5s;
    font-size: 15px;
    font-weight: 700;
    border: 1px solid #ddd;
}
.btn1:hover{
    color: #000;
    background-color: #fff;
    transition: .5s;
    border: 1px solid #000;
}
.btn2{
    display: inline-block;
    background-color: #fff;
    padding: 20px 40px;
    border-radius: 10px;
    font-weight: 600;
    color: #000;
    transition: .5s;
    font-size: 15px;
    font-weight: 700;
}
.btn2:hover{
    color: #fff;
    background-color: #000;
    transition: .5s;
}
/* about css start */
.about{
    background-color: #87a471;
    padding: 40px 0;
}
.about h1{
    color: #e8dfda;
    font-size: 45px;
    text-shadow: 2px 2px 6px #ddd;
    position: relative;
}
.about h1::after{
    content: "";
    position: absolute;
    left: 39%;
    bottom: -13%;
    height: 3px;
    width: 22%;
    background-color:  #e8dfda;

}
.items{
    margin-top: 45px;
}
.ab-con{
    width: 50%;
    margin-top: 60px;
}
.ab-con p{
    color: #fff;
    font-size: 16px;
    line-height: 23px;
}
.ab-img{
    width: 50%;
    text-align: center;
}
.ab-img img{
    width: 300px;
}
/* service css start */
.service{
    background-color: #606a64;
    padding: 60px 0;
}
.service h1{
    color: #e8dfda;
    font-size: 45px;
    text-shadow: 1px 1px 6px #ddd;
    position: relative;
}
.service h2{
    color: #bdc1c0;
    font-size: 35px;
    margin-top: 30px;
}
.service h1::after{
    content: "";
    position: absolute;
    left: 39%;
    bottom: -13%;
    height: 3px;
    width: 22%;
    background-color:  #e8dfda;
}
.s-title{
    color: #aaaeac;
    font-size: 18px;
    width: 720px;
    margin: auto;
    line-height: 25px;
    margin-top: 25px;
    text-align: center;
}
.service-item{
    margin-top: 70px;
}
.ser-box{
    width: 28%;
    padding: 20px;
    background-color: #fff;
    margin-right: 2%;
    box-sizing: border-box;
    border-radius: 20px;
    margin-right: 8%;
}
.ser-box:nth-child(3){
    margin-right: 0;
}
.s-icon span{
    color: #0fc0a2;
    font-size: 40px;
    margin-right: 10px;
    width: 50px;
    float: left;
    height: 150px;
}
.s-cont{
    color: #58718b;
}
.s-cont h3{
    font-size: 23px;
    margin-bottom: 20px;
}
.s-cont p{
    font-size: 14px;
    line-height: 22px;
}
/* gellery css start */
.gellery{
    background-color: #87a471;
    padding: 100px 0;
}
.gellery h1{
    color: #fdfdfc;
    font-size: 40px;
    margin-bottom: 20px;
}
.gellery p{
    color: #e6e6e6;
    font-size: 17px;
}
.gly{
    margin-top: 80px;
}
.g-left {
    border: 1px solid #eae5e5;
    margin-right: 58px;
}
.mar{
    margin-left: 20px;
}
.g-left img{
    width: 480px;
}
.g-left h4{
    color: #506a85;
    margin: 10px 0;
}
.g-left p{
    margin-bottom: 15px;
}
.g-part{
    margin-top: 50px;
}
.img-part{
    margin-right: 3%;
    width: 22%;
    box-sizing: border-box;
}
.g-part .img-part:nth-child(4){
    margin-right: 0;
}
/* teem part css start */
.teem{
    background-color: #5b9776;
    padding: 60px 0 40px 0;
}
.teem h1{
    color: #fff;
    font-size: 35px;
    margin-bottom: 60px;
    position: relative;
}
.teem h1::after{
    content: "";
    position: absolute;
    left: 38%;
    bottom: -30%;
    height: 3px;
    width: 24%;
    background-color:  #ddd5d0;

}
.tem-item{
    width: 29%;
    margin-right: 4%;
}
.tem-item ul li{
    display: inline-block;
}
.tem-item ul li a i{
    color: #ffffff;
    font-size: 33px;
    margin-top: 15px;
    margin-right: 10px;
    transition: .5s;
}
.tem-item ul li a i:hover{
    color: #4f6c87;
}
/* footer css start */
.footer-top{
    background-color: #606a64;
    padding: 100px 0;
}
.footer-top h1{
    color: #e4e6e8;
    margin-bottom: 20px;
}
.footer-top p{
    color: #e1e0e0;
    width: 690px;
    margin: auto;
    font-size: 19px;
}
.footer-top a{
    color: #f4fcfb;
    display: inline-block;
    padding: 13px 30px;
    font-size: 12px;
    background-color: #00bc9c;
    border-radius: 3px;
    margin-top: 20px;
    transition: .5s;
}
.footer-top a:hover{
    background-color: #496b86;
}
/* footer css start */
.footer{
    background-color: #000000;
    padding: 30px 0;
}
.footer p{
    color: #f9f9f9;
    font-size: 18px;
}